.header {
    background-color: slategray;
    padding: 30px;
    text-align: center;
    font-size: 80px;
    color: white;
    font-family: 'berkshireswash-regular', cursive;
  }

  .center {
    margin: auto;
    width: 50%;
    border: 3px solid teal;
    padding: 5px;
  }

  .centerform{
    margin: auto;
    width: 10%;
  }

  .float {
    float: right;
    text-align: right;
  }

  .background {
      background-image: url("./covidimg1.jpg");
      background-size: cover;
      height: 100vh;
  }

  p {
    text-align: center;
    font-size: 20px;
    font-family: 'Lora', serif;
  }

  h1 {
 font-family: 'Lora', serif;
 color: black;
  }

  .homebox {
    padding: 20px;
  }

  .homechartbox {
    padding: 20px;
  }

  #search {
    width: 250px;
  }

  .centerform {
    background-color: white;
  }

  .signupbg {
    background-image: url("./signupbg.jpg");
      background-size: cover;
      height: 100vh;
  }

  .signinbg {
    background-image: url("./signinbg.png");
      background-size: cover;
      height: 100vh;
  }

  .naturerun {
    background-image: url("./set-healthy-lifestyle-objects.jpg");
      background-size: cover;
      height: 100vh;
  }

  .healthyFood {
    background-image: url("./healthyFood.jpg");
      background-size: cover;
      height: 100vh;
  }

  .SearchContainer {
    overflow: auto;
    height: 60%;
    width: 50%;
    margin: 50px 200px 200px 200px;
    padding: 0px 50px 50px 50px;
    background-color: rgb(202, 194, 172, .4);
  }